<footer *ngIf="footerData as data" class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h4>{{ data.usefulLinks.title }}</h4>
      <ul>
        <li *ngFor="let link of data.usefulLinks.links">
          <a [href]="link.url" [target]="link.isExternal ? '_blank' : '_self'">{{ link.label }}</a>
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>{{ data.otherLinks.title }}</h4>
      <ul>
        <li *ngFor="let link of data.otherLinks.links">
          <a [href]="link.url" [target]="link.isExternal ? '_blank' : '_self'">{{ link.label }}</a>
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>{{ data.contactUs.title }}</h4>
      <p>{{ data.contactUs.address }}</p>
      <p>Phone: <a href="tel:{{ data.contactUs.phone }}">{{ data.contactUs.phone }}</a></p>
      <p>Hours: {{ data.contactUs.phoneHours }}</p>
      <p>Email: <a href="mailto:{{ data.contactUs.email }}">{{ data.contactUs.email }}</a></p>
    </div>
    <div class="footer-section">
      <h4>{{ data.followUs.title }}</h4>
      <div class="footer-socials">
        <a href="#" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
        <a href="#" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
        <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="copyright">{{ data.copyright.copyrightText }}</div>
    <div class="developer">
      <a [href]="data.copyright.developerUrl" target="_blank">{{ data.copyright.developerCredit }}</a>
    </div>
  </div>
</footer>
