<header class="main-header minimal-header">
  <div class="header-container minimal-header-container">
    <div class="header-logo yoga-logo">
      <img *ngIf="showLogo" [src]="logoUrl" alt="Logo" (error)="onLogoError($event)" />
      <span *ngIf="!showLogo" class="brand">Logo</span>
    </div>
    <nav class="header-nav minimal-nav">
      <ul>
        <li *ngFor="let item of navigationData?.menuItems">
          <a *ngIf="!item.hasDropdown && !item.isExternal"
             [routerLink]="item.url"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            {{ item.label }}
          </a>
          <a *ngIf="!item.hasDropdown && item.isExternal"
             [href]="item.url" target="_blank">
            {{ item.label }}
          </a>
          <div *ngIf="item.hasDropdown" class="dropdown">
            <span class="dropdown-label">{{ item.label }}</span>
            <ul class="dropdown-menu">
              <li *ngFor="let drop of item.dropdownItems">
                <a *ngIf="!drop.isExternal" [routerLink]="drop.url">{{ drop.label }}</a>
                <a *ngIf="drop.isExternal" [href]="drop.url" target="_blank">{{ drop.label }}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
